/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

a {
    text-decoration: underline;
    color: #004e89;
}

/* Header */
header {
    background-color: #1e709f;
    padding: 20px 20px 40px 20px;
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header-row:first-child {
    text-align: left;
}

.header-row:last-child {
    height: 500px;
}

.logo {
    font-size: 1.5em;
    color: #000;
}

.logo img {
    height: 64px;
    width: auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-column:first-child {
    justify-content: flex-start;
}

.header-column:last-child {
    justify-content: flex-end;
}

.header-image-placeholder {
    text-align: right;
}

.header-image-placeholder img {
    width: 80%;
    height: auto;
}

.hero-text {
    max-width: 500px;
    color: #fff;
}

.highlight {
    background-color: #153086;
    color: #fff;
}

.hero-text h1 {
    font-size: 2.875em;
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 0.9;
}

.hero-text p {
    font-size: 1.125em;
    margin-bottom: 20px;
    line-height: 2.5;
}

.cta-container {
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed7c24;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.cta-button:hover {
    background-color: #24c447;
}

/* Sections */
section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 60px;
}

section h2 {
    font-size: 1.875em;
    margin-bottom: 30px;
}

section p {
    font-size: 1.125em;
    line-height: 2;
}

/* Trusted by Section */
.trusted-by {
    background-color: #e7e6e6;
    padding: 12px;
    text-align: center;
    padding-top: 12px;
}

.trusted-by h2 {
    font-size: 1em;
    margin-bottom: 6px;
    font-weight: 100;
}

.trusted-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.logo-item img {
    width: auto;
    height: 44px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.logo-item img:hover {
    filter: grayscale(0%);
}

/* Responsive Trusted by Section */
@media (max-width: 768px) {
    .trusted-logos {
        flex-direction: column;
        gap: 20px;
    }
}

/* Astro Arena Section */

.game {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}

.game-info {
    display: flex;
}

.game-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.game-description {
    margin-top: 12px;
}

/* Image and platform icons */
.image-container {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    background-color: #fff;
}

.platform-icons {
    font-size: 0.75em;
    text-align: center;
    color: #555;
}

.platform-icons i {
    margin-right: 4px;
    margin-left: 8px;
}

.astro-arena, .client-projects {
    background-color: #fff;
}

.client-projects {
    padding-top: 0;
}

.astro-arena h3, .client-projects h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Client Projects */
.client-projects .project {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.project-info h4 {
    font-size: 1.125em;
    margin-bottom: 10px;
}

.project-info .tags {
    position: absolute;
    left: 190px;
    bottom: 27px;
}

.tags span {
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 0.875em;
    margin-bottom: 4px;
}

/* Dates in Projects */
.project-date {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 0.875em;
    color: #555;
}

.project-image {
    margin-right: 20px;
}

/* About Us Section */
.about-us {
    background-color: #e8e8e8;
    padding: 40px 60px;
}

.about-us h2 {
    margin-bottom: 10px;
}

.about-us h3 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 12px;
}

.about-us p {
    margin-bottom: 15px;
}

.about-us-content img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    float: left;
}

.what-we-do {
    background-color: #fff;
}

.what-we-do p:first-child {
    font-size: 1.4em;
}

.we-create-games {
    color: #fff;
    background-color: #1e709f;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.we-create-games .image-holder img {
    height: 175px;
}

/* Flexbox for image placeholders */
.art-animations-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.image-placeholder {
    width: 30%;
    height: 250px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #555;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* FAQ Section */
.faq-section {
    background-color:#e8e8e8;
}

.faq-section h2 {
    margin-bottom: 0;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 40px 0;
}

.faq-question {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question i {
    font-size: 1em;
    margin-left: 10px;
}

.faq-answer {
    display: none;
    transition: max-height 0.3s ease;
    font-size: 1.125em;
    line-height: 1.8;
    padding: 40px 40px 0 40px;
}

.faq-answer p {
    margin-bottom: 0;
}

.faq-question i.fas.fa-minus {
    display: none;
}

.faq-question.active i.fas.fa-plus {
    display: none;
}

.faq-question.active i.fas.fa-minus {
    display: inline-block;
}

.faq-answer.visible {
    display: block;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .faq-section {
        padding: 20px;
    }

    .faq-question {
        font-size: 1.1em;
    }
}

/* CTA Section */
.cta-section {
    text-align: center;
    background-color: #1e709f;
    color: #fff;
    max-width: none;
}

.cta-section p {
    font-style: italic;
    font-size: 1.3em;
}

.cta {
    font-size: 1.4em;
    font-weight: bolder;
    margin-top: 22px;
    margin-bottom: 22px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer address {
    color: #ccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    .header-container {
        padding: 0 20px;
    }

    .header-row {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1em;
    }

    .cta-container {
        text-align: center;
    }

    .header-image-placeholder {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .game-info {
        flex-direction: column;
    }

    .game-description {
        margin-top: 20px;
    }

    .client-projects .project {
        flex-direction: column;
    }

    .project-info .tags {
        position: static;
        margin-top: 10px;
    }

    .art-animations-images {
        flex-direction: column;
    }

    .image-placeholder {
        width: 100%;
        margin-bottom: 10px;
    }

    .platform-icons {
        text-align: left;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 1.75em;
    }

    .hero-text p {
        font-size: 0.875em;
    }

    .cta {
        font-size: 1.2em;
    }

    .section {
        padding: 20px;
    }

    .about-us p {
        font-size: 1em;
    }

    footer {
        padding: 20px;
    }
}
