/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

a {
    text-decoration: underline;
    color: #004e89;
}

/* Header */
header {
    background-color: #e7e6e6;
    padding-top: 20px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.logo img {
    height: 64px;
    width: auto;
}

.hero-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-column:first-child {
    justify-content: flex-start;
    align-items: center;
}

.hero-image {
    text-align: right;
}

.hero-image img {
    height: 540px;
}

.hero {
    background: linear-gradient(180deg, #3f70bd, #0a55aa);
    padding: 20px 0 0 0;
    max-width: none;
}

.hero-text {
    color: #fff;
}

.highlight {
    background: url("images/Brush_stroke.png") no-repeat;
    color: #2e68b7;
    font-style: normal;
    display: inline-block;
    width: 197px;
    background-position: -2px 10px;
}

.hero-text h1 {
    font-size: 2.875em;
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 0.9;
}

.hero-text p {
    font-size: 1.125em;
    margin-bottom: 20px;
    line-height: 2.5;
    color: #f5f5f5;
}

.cta-container {
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(180deg, #ff9c2f, #ff6600);
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.cta-button:hover {
    background: linear-gradient(180deg, #ff6600, #e26a0e);
}

.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1e709f14;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i {
    font-size: 30px;
    color: #fff;
}

/* Sections */
section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 100px;
}

section h2 {
    font-size: 1.875em;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 1.125em;
    line-height: 2;
}

/* "We teamed up with" Section */
.partners-section {
    background-color: #e7e6e6;
    padding: 12px;
    text-align: center;
    max-width: none;
}

.partners-section h3 {
    font-size: 1em;
    margin-bottom: 6px;
    font-weight: 100;
}

.partner-logos {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.partner-logo img {
    height: 44px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.partner-logo img:hover {
    filter: grayscale(0%);
}

/* "Our services" Section */
.our-services {
    background-color: #fff;
    padding-bottom: 10px;
}

.service-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 1.1em;
    border-top: 1px solid #d4d0d0;
}

.service-point img {
    width: 40px;
}

.service-point:last-child {
    border-bottom: 1px solid #d4d0d0;
    padding-bottom: 20px;
}

.service-need {
    flex: 1;
    font-style: italic;
    margin-right: 20px;
    text-align: center;
}

.service-need p {
    font-size: 1em;
}

.service-description {
    flex: 2;
    padding: 10px;
}

.service-description-title {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Our Benefits Section */
.our-benefits {
    text-align: center;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.benefit-block {
    padding: 20px;
    text-align: center;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.benefit-block .icon-circle {
    width: 50px;
    height: 50px;
}

.benefit-block img {
    height: 30px;
}

.benefit-block h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 6px;
}

.benefit-block p {
    font-size: 1.125em;
    line-height: 1.8;
    color: #555;
}

/* "Our Experience" Section */
.our-projects {
    background-color: #fff;
}

.our-projects h2 {
    margin-bottom: 10px;
}

.our-projects h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.project {
    background-color: #e5eaeb;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.image-container {
    width: 120px;
    height: 120px;
    background-color: #ccc;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    border-radius: 8px;
}

.platform-icons {
    font-size: 0.75em;
    text-align: center;
    color: #555;
}

.platform-icons i {
    margin-right: 4px;
    margin-left: 8px;
}

.project-info h4 {
    font-size: 1.125em;
    margin-bottom: 10px;
}

.project-info .tags {
    position: absolute;
    left: 160px;
    bottom: 27px;
}

.tags span {
    display: inline-block;
    border: 1px solid #416f71;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 0.875em;
    margin-bottom: 4px;
}

.project-image {
    margin-right: 20px;
}

.show-more-container {
    text-align: center;
}

.secondary-button {
    padding: 10px 20px;
    background-color: #f3f3f3;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border: none;
}

.secondary-button:hover {
    background-color: #a9a9a9;
}

/* Generic Text section */
.text-section h2 {
    margin-bottom: 10px;
}

.text-section h3 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 12px;
}

.text-section p {
    margin-bottom: 15px;
}

/* "What we do" Section */
.what-we-do {
    background-color: #fff;
    color: #000;
    background: url('images/Layer-1.png') no-repeat;
}

.what-we-do p:first-child {
    font-size: 1.4em;
}

.we-create-games {
    color: #fff;
    background: linear-gradient(180deg, #3f70bd, #0a55aa);
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.we-create-games .image-holder img {
    height: 234px;
    position: absolute;
    margin-top: -57px;
}

.art-animations-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sample-image {
    width: 30%;
    height: 250px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #555;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sample-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* "Who we are" Section */
.who-we-are {
    background-color: #e5eaeb;
    padding-bottom: 60px;
}

.who-we-are-content img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    float: left;
}

/* FAQ Section */
.faq-section {
    background-color: #fff;
}

.faq-section h2 {
    margin-bottom: 0;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 40px 0;
}

.faq-question {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question i {
    font-size: 1em;
    margin-left: 10px;
}

.faq-answer {
    display: none;
    transition: max-height 0.3s ease;
    font-size: 1.125em;
    line-height: 1.8;
    padding: 40px 40px 0 40px;
}

.faq-answer p {
    margin-bottom: 0;
}

.faq-question i.fas.fa-minus {
    display: none;
}

.faq-question.active i.fas.fa-plus {
    display: none;
}

.faq-question.active i.fas.fa-minus {
    display: inline-block;
}

.faq-answer.visible {
    display: block;
}

/* CTA Section */
.cta-section {
    text-align: center;
    background: linear-gradient(180deg, #3f70bd, #0a55aa);
    color: #fff;
    max-width: none;
    display: flex;
    justify-content: center;
}

.cta-image img {
    height: 357px;
    position: absolute;
    margin-top: -82px;
    margin-left: -120px;
}

.cta-section p {
    font-size: 1.3em;
    font-family: 'Kalam', sans-serif;
}

.cta {
    font-size: 1.4em;
    font-weight: bolder;
    margin: 22px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer address {
    color: #ccc;
}