/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;
}

a {
    text-decoration: underline;
    color: #004e89;
}

/* Header */
header {
    background-color: #e7e6e6;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

header .header-row {
    text-align: left;
}

.logo {
    font-size: 1.5em;
    color: #000;
}

.logo img {
    height: 64px;
    width: auto;
}

.header-row {
    margin-top: 20px;
}

.header-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero .header-column:first-child {
    justify-content: flex-start;
    align-items: center;
}

.header-image-placeholder {
    text-align: right;
}

.header-image-placeholder img {
    height: 540px;
}

.hero {
    background: linear-gradient(180deg, #3f70bd, #0a55aa);
    padding: 1px;
    max-width: none;
    border-radius: 0;
    margin-bottom: 0;
}

.hero-text {
    max-width: 500px;
    color: #fff;
}

.highlight {
    color: #fff;
    background: url("images/Brush_stroke.png") no-repeat;
    color: #2e68b7;
}

.hero-text h1 {
    font-size: 2.875em;
    margin-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 0.9;
}

.hero-text p {
    font-size: 1.125em;
    margin-bottom: 20px;
    line-height: 2.5;
    color: #f5f5f5;
}

.cta-container {
    margin-top: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ed7c24;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    background: linear-gradient(180deg, #ff9c2f, #ff6600);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-button:hover {
    background: linear-gradient(180deg, #ff6600, #e26a0e);
}

.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* background-color: #1e709f; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-circle i {
    font-size: 30px;
    color: #fff;
}

/* Sections */
section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 100px;
}

section h2 {
    font-size: 1.875em;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 1.125em;
    line-height: 2;
}

/* Trusted by Section */
.trusted-by {
    background-color: #e7e6e6;
    padding: 12px;
    text-align: center;
    padding-top: 12px;
    max-width: none;
    border-radius: 0;
}

.trusted-by h2 {
    font-size: 1em;
    margin-bottom: 6px;
    font-weight: 100;
}

.trusted-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.logo-item img {
    width: auto;
    height: 44px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.logo-item img:hover {
    filter: grayscale(0%);
}

/* Responsive Trusted by Section */
@media (max-width: 768px) {
    .trusted-logos {
        flex-direction: column;
        gap: 20px;
    }
}

/* Our services Section */

.offer {
    background-color: #fff;
    color: #000;
    padding-bottom: 10px;
}

.offer-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 1.1em;
    border-top: 1px solid #d4d0d0;
}

.offer-point:last-child {
    border-bottom: 1px solid #d4d0d0;
    padding-bottom: 20px;
}

.offer-need {
    flex: 1;
    font-style: italic;
    margin-right: 20px;
    text-align: center;
}

.offer-need p {
    font-size: 1em;
}

.offer-description {
    flex: 2;
    padding: 10px;
}

.offer-description-title {
    margin-bottom: 10px;
    font-weight: bold;
}

/* Our Benefits Section */
.our-benefits {
    text-align: center;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.benefit-block {
    padding: 20px;
    text-align: center;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.benefit-block i {
    font-size: 1.8em;
    color: #1e709f;
    margin-bottom: 15px;
}

.benefit-block img {
    height: 40px;
}

.benefit-block h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.benefit-block p {
    font-size: 1.125em;
    line-height: 1.8;
    color: #555;
}

@media (max-width: 768px) {
    .benefits-container {
        flex-direction: column;
        gap: 20px;
    }
}

/* Our Experience Section */

.game {
    background-color: #e5eaeb;
    border-radius: 8px;
    padding: 20px;
}

/* Image and platform icons */
.image-container {
    width: 120px;
    height: 120px;
    background-color: #ccc;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.platform-icons {
    font-size: 0.75em;
    text-align: center;
    color: #555;
}

.platform-icons i {
    margin-right: 4px;
    margin-left: 8px;
}

.client-projects h2 {
    margin-bottom: 10px;
}

.client-projects {
    background-color: #fff;
}

.client-projects h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.client-projects .project {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.project-info h4 {
    font-size: 1.125em;
    margin-bottom: 10px;
}

.project-info .tags {
    position: absolute;
    left: 160px;
    bottom: 27px;
}

.tags span {
    display: inline-block;
    border: 1px solid #416f71;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 0.875em;
    margin-bottom: 4px;
}

/* Dates in Projects */
.project-date {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 0.875em;
    color: #555;
    display: none;
}

.project-image {
    margin-right: 20px;
}

.show-more-container {
    text-align: center;
}

.secondary-button {
    padding: 10px 20px;
    background-color: #f3f3f3;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    border: none;
}

.secondary-button:hover {
    background-color: #a9a9a9;
}

/* About Us Section */
.about-us {
    background-color: #416f71;
    color: #fff;
}

.about-us h2 {
    margin-bottom: 10px;
}

.about-us h3 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 12px;
}

.about-us p {
    margin-bottom: 15px;
}

.about-us-content img {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    float: left;
}

.what-we-do {
    background-color: #fff;
    color: #000;
    background: url('images/Background1.png') no-repeat;
}

.what-we-do p:first-child {
    font-size: 1.4em;
}

.we-create-games {
    color: #fff;
    background: linear-gradient(180deg, #3f70bd, #0a55aa);
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.we-create-games .image-holder img {
    height: 234px;
    position: absolute;
    margin-top: -57px;
}

/* Flexbox for image placeholders */
.art-animations-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sample-image {
    width: 30%;
    height: 250px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #555;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sample-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* FAQ Section */
.faq-section {
    background-color: #fff;
}

.faq-section h2 {
    margin-bottom: 0;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 40px 0;
}

.faq-question {
    background: none;
    border: none;
    text-align: left;
    width: 100%;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question i {
    font-size: 1em;
    margin-left: 10px;
}

.faq-answer {
    display: none;
    transition: max-height 0.3s ease;
    font-size: 1.125em;
    line-height: 1.8;
    padding: 40px 40px 0 40px;
}

.faq-answer p {
    margin-bottom: 0;
}

.faq-question i.fas.fa-minus {
    display: none;
}

.faq-question.active i.fas.fa-plus {
    display: none;
}

.faq-question.active i.fas.fa-minus {
    display: inline-block;
}

.faq-answer.visible {
    display: block;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .faq-section {
        padding: 20px;
    }

    .faq-question {
        font-size: 1.1em;
    }
}

/* CTA Section */
.cta-section {
    text-align: center;
    background: linear-gradient(180deg, #3f70bd, #0a55aa);
    color: #fff;
    max-width: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    border-radius: 0;
}

.cta-image img {
    height: 357px;
    position: absolute;
    margin-top: -82px;
    margin-left: -120px;
}

.cta-section p {
    font-size: 1.3em;
    font-family: 'Kalam', sans-serif;
}

.cta {
    font-size: 1.4em;
    font-weight: bolder;
    margin-top: 22px;
    margin-bottom: 22px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

footer address {
    color: #ccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    .header-container {
        padding: 0 20px;
    }

    .header-row {
        flex-direction: column;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1em;
    }

    .cta-container {
        text-align: center;
    }

    .header-image-placeholder {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .game-info {
        flex-direction: column;
    }

    .game-description {
        margin-top: 20px;
    }

    .client-projects .project {
        flex-direction: column;
    }

    .project-info .tags {
        position: static;
        margin-top: 10px;
    }

    .art-animations-images {
        flex-direction: column;
    }

    .image-placeholder {
        width: 100%;
        margin-bottom: 10px;
    }

    .platform-icons {
        text-align: left;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 1.75em;
    }

    .hero-text p {
        font-size: 0.875em;
    }

    .cta {
        font-size: 1.2em;
    }

    .section {
        padding: 20px;
    }

    .about-us p {
        font-size: 1em;
    }

    footer {
        padding: 20px;
    }
}